<nav class="navbar">
  <div class="navbar-container">
    <!-- <div class="logo">
      <a routerLink="/" (click)="menuOpen = false">
        <img src="arun_or.jpeg" alt="Arun R Logo" class="logo-img" />
      </a>
    </div> -->

    <div class="logo">
      <a routerLink="/" (click)="menuOpen = false">
        <p class="logo-initial">𝓐𝓻</p>
      </a>
    </div>

    <button class="menu-toggle" 
            [class.open]="menuOpen"
            (click)="toggleMenu()">
      &#9776;
    </button>

    <ul class="nav-links" [class.active]="menuOpen">
      <li>
        <a routerLink="/creator" (click)="menuOpen = false">
          <img src="creator.png" class="nav-icon" alt="creator icon" />
          Meet the creator
        </a>
      </li>
      <li>
        <a routerLink="/journey" (click)="menuOpen = false">
          <img src="journey.png" class="nav-icon" alt="journey icon" />
          Journey
        </a>
      </li>
      <li>
        <a routerLink="/projects" (click)="menuOpen = false">
          <img src="project.png" class="nav-icon" alt="project icon" />
          Work speaks here
        </a>
      </li>
      <!-- <li>
        <a routerLink="/social" (click)="menuOpen = false">
          <img src="social1.png" class="nav-icon" alt="social icon" />
          Social
        </a>
      </li> -->
      <li>
        <a routerLink="/contact" (click)="menuOpen = false">
          <img src="contact.png" class="nav-icon" alt="contact icon" />
          Reach out to me
        </a>
      </li>
    </ul>
  </div>
</nav>
