/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


html, body {
  overflow: scroll;             /* or auto */
  scrollbar-width: none;        /* Firefox */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}



/* *{
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-variation-settings: "wdth" 100;
} */